/*========================================================================================*/
/*RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Nguyen Gia Bao
  ID: s3938143
  Acknowledgement:
  https://swiperjs.com/demos
  https://codesandbox.io/p/sandbox/mvjbdm?file=%2Findex.html&selection=%5B%7B"endColumn"%3A9%2C"endLineNumber"%3A78%2C"startColumn"%3A7%2C"startLineNumber"%3A75%7D%5D
  https://codesandbox.io/p/sandbox/fojg89?file=%2Findex.html
  https://katedarroch.com/
  https://cdnjs.com/libraries/font-awesome
  https://www.freecodecamp.org/news/how-to-make-a-landing-page-with-html-css-and-javascript/#theprojectfolderstructure
  https://www.freecodecamp.org/news/how-to-make-a-landing-page-with-html-css-and-javascript/#howtomakethescrolltotopbutton
  https://stackoverflow.com/questions/31575496/prevent-negative-inputs-in-form-input-type-number\
  https://stackoverflow.com/questions/66991577/how-do-i-make-a-gif-responsive
  https://alvarotrigo.com/blog/hamburger-menu-css-responsive/#:~:text=Making%20the%20Hamburger%20Menu%20Responsive%20with%20CSS&text=And%20we%20also%20need%20to,will%20be%20hidden%20by%20default.
*/
/*=======================================================================================*/





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* a pre set of color*/
:root{
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0, .1);
    --boder-hover: .1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0, .1);
}

/*all setting*/
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition:width none;
}

/*HTML*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent ;
}

html::-webkit-scrollbar-thumb{
    background: var(--black) ;
}

/*section*/
section{
    padding: 5rem 9%;
}

/*heading*/
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

    .heading::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: .01rem;
        background: rgba(0, 0, 0, .1);
        z-index: -1;
    }

    .heading span{
        font-size: 3rem;
        padding: .5rem 2rem;
        color: var(--black);
        background: #fff;
        border: var(--border);
    }

/*button */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

    /* colored button when hover over*/
    .btn:hover{
        background: var(--dark-color);
    }

        /*button reset*/
        .btn-r{
            margin-top: 1rem;
            display: inline-block;
            padding: .9rem 3rem;
            border-radius: .5rem;
            color: #fff;
            background: red;
            font-size: 1.7rem;
            cursor: pointer;
            font-weight: 500;
        }
        
            /* colored button when hover over*/
            .btn-r:hover{
                background: darkred;
            }

/*Header*/

    /*header 1*/

        /*adjust header-1's sections placement*/
        .header .header-1{
            background: #fff;
            padding: 1.5rem 9%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        /*adjust the whole logo (include the logo & name) */
        .header .header-1 .logo{
            font-size: 2.5rem;
            font-weight: bolder;
            color: var(--black);
        }


            /*adjust the logo only*/
            .header .header-1 .logo img{
                width: 70px;
                height: 70px;
            }

        /*search section*/
        .header .header-1 .search-form{
            width: 50rem;
            height: 5rem;
            border:var(--border);
            overflow: hidden;
            background: #fff;
            display: flex;
            align-items: center;
            border-radius: .5rem;
        }
            /*search input*/
            .header .header-1 .search-form input{
                font-size: 1.6rem;
                padding: 0 1.2rem;
                height: 100%;
                width: 100%;
                text-transform: none;
                color: var(--black);
            }

            /*search label (magnify glass icon)*/
            .header .header-1 .search-form label{
                font-size: 2.5rem;
                padding-right: 1.5rem;
                color: var(--black);
                cursor: pointer;
            }

                /*magnify glass colored when hover*/
                .header .header-1 .search-form label:hover{
                    color: var(--green);
                }

        /*icons (heart, cart, account, headset)*/
        .header .header-1 .icons div,
        .header .header-1 .icons a{
            font-size: 2.5rem;
            margin-left: 1.5rem;
            color: var(--black);
            cursor: pointer;
        }

            /*icons colored when hover*/
            .header .header-1 .icons div:hover,
            .header .header-1 .icons a:hover{
                color: var(--green);
            }

        /*button*/
        #search-btn{
            display: none;
        }

    /*header 2*/
        
        /*adjust header-2's sections placement*/
        .header .header-2{
            background: var(--green);
        }    
        
        /*header-2 navbar*/
        .header .header-2 .navbar{
            text-align: center;
        }

            /*adjust navbar content*/
            .header .header-2 .navbar a{
                color: #fff;
                display: inline-block;
                padding: 1.2rem;
                font-size: 1.7rem;
            }

                /*color specific navbar content when hover*/
                .header .header-2 .navbar a:hover{
                    background: var(--dark-color);
                } 
        
        /*header-2 active*/
        /*make the navbar always fixed to the top part of the screen*/
        .header .header-2.active{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }  
        
/*bottom navbar*/
    /*bottom navbar adjust*/
    .bottom-navbar{
        text-align: center;
        background: var(--green);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

        /*bottom navbar's content adjust*/
        .bottom-navbar a{
            font-size: 2.5rem;
            padding:2rem;
            color: #fff;
        }

            /*bottom navbar's content colored when hover*/
            .bottom-navbar a:hover{
                background: var(--dark-color);
            }

/*login section*/
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

    /*login form when clicked*/
    .login-form-container.active{
        right:0;
    }

    /*login form*/
    .login-form-container form{
        background: #fff;
        border: var(--border);
        width: 40rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        margin: 2rem;
    }

        /*login form header*/
        .login-form-container form h3{
            font-size: 2.5rem;
            text-transform: uppercase;
            color: var(--black);
            text-align: center;
        }

        /*login username & password*/
        .login-form-container form span{
            display: block;
            font-size: 1.5rem;
            padding-top: 1rem;
        }

        .login-form-container form .box{
            width: 100%;
            margin: .7rem 0;
            font-size: 1.6rem;
            border: var(--border);
            border-radius: .5rem;
            padding: 1rem 1.2rem;
            color: var(--black);
            text-transform: none;
        }

        /*login form's checkbox*/
        .login-form-container form .checkbox{
            display: flex;
            align-items: center;
            gap: .5rem;
            padding: 1rem 0;
        }

            .login-form-container form .checkbox label{
                font-size: 1.5rem;
                color: var(--light-color);
                cursor: pointer;
            }
        
        /* adjust login form's sign in button */
        .login-form-container form .btn{
            text-align: center;
            width: 100%;
            margin: 1.5rem 0;
        }

        /*login forget password & don't have account*/
        .login-form-container form p{
            padding-top: .8rem;
            color: var(--light-color);
            font-size: 1.5rem;
        }

            /*login click here & create one*/
            .login-form-container form p a{
                color: var(--green);
                text-decoration: underline;
            }
    
        /*close login form button*/
        .login-form-container #close-login-btn{
            position: absolute;
            top: 1.5rem;
            right:2.5rem;
            font-size: 5rem;
            color: var(--black);
            cursor: pointer;
        }

/*contact section*/
.contact-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

    /*contact form when clicked*/
    .contact-form-container.active{
        right:0;
    }

    /*contact form*/
    .contact-form-container form{
        background: #fff;
        border: var(--border);
        width: 40rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        margin: 2rem;
    }

        /*contact form header*/
        .contact-form-container form h3{
            font-size: 2.5rem;
            text-transform: uppercase;
            color: var(--black);
            text-align: center;
        }

        /*contact form content section*/
        .contact-form-container form span{
            display: block;
            font-size: 1.5rem;
            padding-top: 1rem;
        }

    
        .contact-form-container form .box{
            width: 100%;
            margin: .7rem 0;
            font-size: 1.6rem;
            border: var(--border);
            border-radius: .5rem;
            padding: 1rem 1.2rem;
            color: var(--black);
            text-transform: none;
        }

        /* adjust contact form's submit button */
        .contact-form-container form .btn{
            text-align: center;
            width: 100%;
            margin: 1.5rem 3;
        }

        /*close contact form button*/
        .contact-form-container #close-contact-btn{
            position: absolute;
            top: 1.5rem;
            right:2.5rem;
            font-size: 5rem;
            color: var(--black);
            cursor: pointer;
        }

/*home section*/
.home{
    background: url(../images/banner-bg.jpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
} 

    /*home page's row*/
    .home .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:1.5rem;
    }

        /*row content*/
        .home .row .content{
            flex: 1 1 42rem;
        }

            .home .row .content h3{
                color: var(--black);
                font-size: 4.5rem;
            }

            .home .row .content p{
                color: var(--light-color);
                font-size: 1.4rem;
                line-height: 2;
                padding: 1rem 0;
            }

        /*book slider*/
        .home .row .books-slider{
            flex: 1 1 42rem;
            text-align: center;
            margin-top: 2rem;
        }

            /*book slider content*/
            .home .row .books-slider a img{
                height: 25rem;
            }

                /*book slider content when hover*/
                /*make the hovered book zoom out*/
                .home .row .books-slider a:hover img{
                    transform: scale(.9)
                }
        
            /*book stand*/
            .home .row .books-slider .stand{
                width: 100%;
                margin-top: -2rem;
            }

/*Icons section*/
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

    .icons-container .icons{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;
    }

        .icons-container .icons i{
            font-size: 3.5rem;
            color: var(--green);
        }

        .icons-container .icons h3{
            font-size: 2.2rem;
            color: var(--black);
            padding-bottom: .5rem;
        }

        .icons-container .icons p{
            font-size: 1.4rem;
            color: var(--light-color);
        }

/*featured section*/
.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

    .featured .featured-slider .box:hover{
        border: var(--border-hover);
    }

        .featured .featured-slider .box:hover .image{
            transform: translateY(6rem);
        }

    .featured .featured-slider .box .image{
        padding: 1rem;
        background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
    }

        .featured .featured-slider .box .image img{
            height: 25rem;
        }

    .featured .featured-slider .box .icons{
        border-bottom: var(--border-hover);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 1;
        transform: translateY(-105%);
    }

        .featured .featured-slider .box:hover .icons{
            transform: translateY(0%);
        }

        .featured .featured-slider .box .icons a{
            color: var(--black);
            font-size: 2.2rem;
            padding: 1.3rem 1.5rem;
        }

            .featured .featured-slider .box .icons a:hover{
                background: var(--green);
                color: #fff;
            }

            .featured .featured-slider .box .content{
                background: #eee;
                padding: 1.5rem;
            }

            .featured .featured-slider .box .content h3{
                font-size: 2rem;
                color: var(--black);
            }

            .featured .featured-slider .box .content .price{
                font-size: 2.2rem;
                color: var(--black);
                padding-top: 1rem;
            }

                .featured .featured-slider .box .content .price span{
                    font-size: 1.5rem;
                    color: var(--light-color);
                    text-decoration: line-through;
                }

        /*featured books slider button*/
        .swiper-button-next,
        .swiper-button-prev{
            border: var(--border-hover);
            height: 4rem;
            width: 4rem;
            color: var(--black);
            background: #fff;
        }
            .swiper-button-next::after,
            .swiper-button-prev::after{
                font-size: 2rem;
            }

            .swiper-button-next:hover,
            .swiper-button-prev:hover{
                background: var(--black);
                color: #fff;
            }

/*newsletter section*/
.newsletter{
    background: url(../images/letter-bg.jpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}   

    .newsletter form{
        max-width: 45rem;
        margin-left: auto;
        text-align: center;
        padding: 5rem 0;
    }

        .newsletter form h3{
            font-size: 2.2rem;
            color: #fff;
            padding-bottom: .7rem;
            font-weight: normal;
        }

        .newsletter form .box{
            width: 100%;
            margin: .7rem 0;
            padding: 1rem 1.2rem;
            font-size: 1.6rem;
            color: var(--black);
            border-radius: .5rem;
            text-transform: none;
        }

/*Arrivals section*/
.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

    .arrivals .arrivals-slider .box:hover{
        border: var(--border-hover);
    }

        .arrivals .arrivals-slider .box .image img{
            height: 15rem;
        }

    .arrivals .arrivals-slider .box .content h3{
        font-size: 2rem;
        color:var(--black);
    }

    .arrivals .arrivals-slider .box .content .price{
        font-size: 2.2rem;
        color: var(--black);
        padding-bottom: .5rem;
    }  
    
        .arrivals .arrivals-slider .box .content .price span{
            font-size: 1.5rem;
            color: var(--light-color);
            text-decoration: line-through;
        }

        .arrivals .arrivals-slider .box .content .stars i{
            font-size: 1.5rem;
            color: var(--green);
        }

/*deal section*/
/*video background*/
.video-banner{
    height: 100vh;
    position:relative;
}

video{
    object-fit: cover;
    position:relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.deal{
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

    .deal .content{
        flex: 1 1 42rem;
    }

        .deal .content h3{
            color: var(--green);
            font-size: 2.5rem;
            padding-bottom: .5rem;
        }

        .deal .content h1{
            color: var(--black);
            font-size: 4rem;
        }

        .deal .content p{
            padding: 1rem 0;
            color: var(--light-color);
            font-size: 1.4rem;
            line-height: 2;
        }

    .deal .image{
        flex: 1 1 42rem;
    }

        .deal .image img{
            width: 100%;
        }

/*Reviews section*/
.reviews .reviews-slider .box{
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}

    .reviews .reviews-slider .box:hover{
        border: var(--border-hover);
    }

    .reviews .reviews-slider .box img{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .reviews .reviews-slider .box h3{
        color: var(--black);
        font-size: 2.2rem;
        padding: .5rem 0;
    }

    .reviews .reviews-slider .box p{
        color: var(--light-color);
        font-size: 1.4rem;
        padding: 1rem 0;
        line-height: 2;
    }

    .reviews .reviews-slider .box .stars i{
        font-size: 1.7rem;
        color: var(--green);
    }

/*Blogs section*/ 
.blogs .blogs-slider .box{
    margin: 2rem 0;    
    border: var(--border);
}  

    .blogs .blogs-slider .box:hover{
        border: var(--boder-hover);
    }

    .blogs .blogs-slider .box .image{
        height: 25rem;
        width: 100%;
        overflow: hidden;
    }

        .blogs .blogs-slider .box .image img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .blogs .blogs-slider .box:hover .image{
            transform: scale(1.1);
        }

    .blogs .blogs-slider .box .content{
        padding: 1.5rem;
    }

        .blogs .blogs-slider .box .content h3{
            font-size: 2.2rem;
            color: var(--black);
        }

        .blogs .blogs-slider .box .content p{
            font-size: 1.4rem;
            color: var(--light-color);
            padding: 1rem 0;
            line-height: 2;
        }

/*footer section*/
.footer{
    background-color: whitesmoke;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

    .footer .box-container .box h3{
        font-size: 2.2rem;
        color: var(--black);
        padding: 1rem 0;
    }

    .footer .box-container .box a{
        display: block;
        font-size: 1.4rem;
        color: var(--light-color);
        padding: 1rem 0;
    }

        .footer .box-container .box a i{
            color: var(--green);
            padding-right: .5rem;
        }

            .footer .box-container .box a:hover i{
                padding-right: 2rem;
            }

    .footer .box-container .box .map{
        width: 100%;
    }            

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

    .footer .share a{
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        color: #fff;
        background: var(--green);
        margin: 0 .3rem;
        border-radius: 50%;
    }

        .footer .share a:hover{
            background: var(--black);
        }

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
} 
    .footer .credit span{
        color: var(--green);
    }       

    /*loader*/
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display:flex;
    align-items: center;
    justify-content: center;
}

    .loader-container.active{
        display: none;
    }

    .loader-container img{
        height: 25rem;
    }



/*media queries*/
/*adjust sizes of sections base on user's screen*/
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    /*!NOTE! this will only be applied to devices with smaller srceen resolution, the search bar will act normal with other devices with bigger srceen*/
    /*this will replace all the tags of the original navbar above with icons and move it to the bottom for the ease of use of users with smaller screen devices */
    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    /*!NOTE! this will only be applied to devices with smaller srceen resolution, the search bar will act normal with other devices with bigger srceen*/
    /*This will first hide the search bar, only show the magnify glass icon*/
    .header .header-1 .search-form{
        position: absolute; 
        top: -115%;    /**/
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);  
    }
        /*when pressed the magnify glass icon, the search bar will drop down*/
        .header .header-1 .search-form.active{
            top: 115%;  /**/
        }

    /*home section row's content*/
    .home .row .content{
        text-align: center;
    }

        .home .row .content h3{
            font-size: 3.5rem;
        }

    /*newsletter section*/
    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left: 0;
        max-width: 100%;
    }

}





/*burger menu*/
@media screen and (max-width: 750px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  }
  
@media (max-width:450px){

    html{
        font-size: 50%;
    }
}
    
/*bottom to top button*/
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 6%;
    cursor: pointer;
  }
  
.up-arrow {
width: 3rem;
height: 3rem;
}



/*====================================Collection section=======================================*/

/*new arrivals section*/
    /*new arrivals banner*/
    
   

    .arrivals .arrivals-banner-slider .box{
        margin: 2rem 0;    
        border: var(--border);
        
    }  
    
        .arrivals .arrivals-banner-slider .box:hover{
            border: var(--boder-hover);
        }
    
        .arrivals .arrivals-banner-slider .box .image{
            height: 25rem;
            width: 100%;
            overflow: hidden;
        }
    
            .arrivals .arrivals-banner-slider .box .image img{
                height: 100%;
                width: 100%;
                object-fit:fill;
            }
    
            .arrivals .arrivals-banner-slider .box:hover .image{
                transform: scale(1.1);
            }
   
            
/*All book section*/
.all-book .all-book-container .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

    .all-book .all-book-container .box:hover{
        border: var(--border-hover);
    }

        .all-book .all-book-container .box .image img{
            height: 15rem;
        }

    .all-book .all-book-container .box .content h3{
        font-size: 2rem;
        color:var(--black);
    }

    .all-book .all-book-container .box .content .price{
        font-size: 2.2rem;
        color: var(--black);
        padding-bottom: .5rem;
    }  
    
        .all-book .all-book-container .box .content .price span{
            font-size: 1.5rem;
            color: var(--light-color);
            text-decoration: line-through;
        }

        .all-book .all-book-container .box .content .stars i{
            font-size: 1.5rem;
            color: var(--green);
        }


/*burger menu for categories*/

/*adjust green box*/
.burger-menu {
    position: fixed;
    top: 161px;
    left: 0;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background-color: var(--green);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  /*green box when hover*/
  .burger-menu:hover {
    background-color: var(--dark-color);
  }
  
  .burger-menu input[type="checkbox"] {
    display: none;
  }
  
  /* adjust black line inside the box*/
  .burger-menu label {
    display: block;
    width: 30px;
    height: 30px;
    position:absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
    z-index: 2;
  }
  
  /*adjust the animation of the black line inside the box*/
  .burger-menu label span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--black);
    position: relative;
    transform-origin: 1px;
    transition: all 0.3s ease-in-out;
  }
  
  .burger-menu label span:first-child {
    transform-origin: 0 0;
  }
  
  .burger-menu label span:last-child {
    transform-origin: 0 100%;
  }
  
  /*the arrow animation inside the form when opened*/
  .burger-menu input[type="checkbox"]:checked ~ label span {
    background-color: var(--green);
  }

  /*colored the arrow animation inside the form which opened when hovered*/
  .burger-menu input[type="checkbox"]:checked ~ label span:hover {
    background-color: var(--dark-color);
  }
  
  /*since this is 2 line formed together so the color when hover will be seperate*/
  /*upper part*/
  .burger-menu input[type="checkbox"]:checked ~ label span:first-child {
    transform: rotate(45deg);
  }
  /*lower part*/
  .burger-menu input[type="checkbox"]:checked ~ label span:last-child {
    transform: rotate(-45deg);
  }
  
  /*this is the area to close the menu*/ 
  .burger-menu input[type="checkbox"]:checked ~ label span:nth-child(2) {
    transform: scale(0);
  }
  
  /*this is the whole menu bar which hided in the left, outside of the website*/
  .burger-menu nav {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: whitesmoke;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  .burger-menu input[type="checkbox"]:checked ~ nav {
    left: 0;
  }
  
  .burger-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /*adjust the space between section in the menu*/
  .burger-menu ul li {
    margin-bottom: 20px;
  }
  
  /*adjust the content inside menu*/
  .burger-menu ul li a {
    display: block;
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  /*colored the content of the menu when hover*/
  .burger-menu ul li a:hover {
    color: var(--light-color);
  }


  /**/
  .burger-menu .product-filter-list{
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: normal;
    list-style: none;
    margin: 0 0 10px 0;
    max-height: 215px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px 0 10px;
  }



  /*menu price section*/
  
  .burger-menu .price-section span{
    font-size: 20px;
    cursor:context-menu;
  }

    /*input prices*/
        /*Min & Max*/
        .burger-menu .product-filter-list .price-range .price-range-min,
        .burger-menu .product-filter-list .price-range .price-range-max{
            display: inline-block;
            width: 46%;
            min-width: auto;
            padding: 0 5px;
            height: 28px;
            vertical-align: middle;
            outline: 0;
            border: var(--border);
            background-color: #fff;
            box-shadow: none;
            box-sizing: border-box;
            color: var(--light-color);
            float: none;
            margin: 0;
            min-height: auto;
        }

        /*divider*/
        .burger-menu .product-filter-list .price-range .range-divider{
            display: inline-block;
            width: 8%;
            color: #a3a3a3;
            padding: 0;
            text-align: center;
            vertical-align: middle;
        }

    /*menu categories section*/
    /*at this point use for other section too, act as the font size*/
    .burger-menu .categories-filter-list li span{
        font-size: 20px;
    }




/*==================================================Book detail section========================================*/

/*breadcrumb*/

.breadcrumb{
    margin-top: 1.171875rem;
    margin-bottom: 1.171875rem;
}

    .breadcrumb nav{
        font-size: 1.5rem;
        color: var(--black);
        font-weight: 1000;
    }

        .breadcrumb a{
            font-size: 1.6rem;
            color: var(--black);
            font-weight:1000;
        }

            .breadcrumb a:hover{
                color: var(--light-color);
            }

/*Book detail section*/
   
    /*Book image adjust*/
    .small-container_single-book{
        max-width: 1000px;
        margin: auto;
        padding-left: 25px;
        padding-right: 20px;

    }    

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .single-book{
        margin-top: 80px;
    }

    .small-img-row{
        display: flex;
        justify-content: space-around;
    }

    .col-2 img{
        max-width: 100%;
        padding: 50px 0;
    }

    .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
    }

    .small-img-col:hover{
        transform: scale(.9);
    }

    .single-book .col-2 img{
        padding: 0;
    }

    .single-book .col-2{
        padding:20px;
    }

    /*Book info & interaction adjust*/
    .col-2{
        flex-basis: 50%;
        min-width: 300px;
        
    }

    /*book name*/
    .col-2 h1{
        font-size: 60px;
        line-height: 60px;
        margin: 25px 0;
    }

    /*book price*/
    .single-book h4{
        
        font-size: 30px;
        font-weight: bold;
    }

    .price{
        font-size: 25px;
        color: var(--light-color);
    }

    .price span{
        font-size: 20px;
        text-decoration: line-through;
    }

    /*the number of book customer wish to purchase*/
    .single-book input{
        width: 150px;
        height: 50px;
        padding-left: 10px;
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
        border: var(--border);
    }

    input:focus{
        outline: none;
    }

    /*book description & detail*/
    p{
        color: var(--light-color);
        font-size: 20px;
    }

    /*book description & detail header*/
    .single-book h3{
        font-size: 25px;
    }

/*related section*/
.related .related-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

    .related .related-slider .box:hover{
        border: var(--border-hover);
    }

        .related .related-slider .box .image img{
            height: 15rem;
        }

        .related .related-slider .box .content h3{
        font-size: 2rem;
        color:var(--black);
    }

    .related .related-slider .box .content .price{
        font-size: 2.2rem;
        color: var(--black);
        padding-bottom: .5rem;
    }  
    
        .related .related-slider .box .content .price span{
            font-size: 1.5rem;
            color: var(--light-color);
            text-decoration: line-through;
        }

        .related .related-slider .box .content .stars i{
            font-size: 1.5rem;
            color: var(--green);
        }


/*contact us form*/
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 50px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }

  main form label span{
    font-size: 20px;
  }

  
  form .form-input,
  form select,
  form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
  }
  
  form input[type="checkbox"],
  form input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
  }
  
  




/*!Testing section!*/
